<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>

      @for (menuItem of menuItems; track $index) {
      <a mat-list-item routerLink="{{ menuItem.route }}" (click)="setActiveMenuItem(menuItem.name)">
        <div class="menu-button">
          <mat-icon>{{ menuItem.icon }}</mat-icon>
          <span>{{ menuItem.name | titlecase }}</span>
        </div>
      </a>
      }

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }

      <p [title]="title">{{title}}</p>
    </mat-toolbar>

    <main>
      <router-outlet />
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
